:root {
    --bs-body-bg: #E5E5E5;
    --widthsidebarvar: 218px;
    --borderRadius: 10px;
    --bs-body-font-family: 'Nunito';
    --font-weight: 600;
}

.mainSidebar .nav ul li {
    cursor: pointer;
    list-style-type: none;
    font-size: 16px;
    line-height: 22px;
    color: #030229;
    opacity: 0.6;
    font-weight: 600;
}
.mainSidebar .nav ul li:not(.active) ul {
    list-style: none;
    display: none;
}
.mainSidebar .nav ul li ul {
    list-style-type: none;
    font-size: 14px;
}
.mainSidebar {
    background-color: #FFFFFF;
    width: var(--widthsidebarvar);
}


.paddingsidebar{
    padding: 24px 24px 24px calc(var(--widthsidebarvar) + 24px);

}


.userAccount{
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 13.64px;
    color: #000000;
    Opacity :50%;
}

.TitelTop{
    width: 100%;
    background-color: black;
}

/Navbar/

.title{
    opacity: 70%;
    font-family: 'Nunito', sans-serif;
}

.bg-white {
    border-radius: 10px;
}
.example-custom-input  {
    margin: 0!important;
}
.mdb-datatable div .d-flex{
    display: none!important;
}
.Top1:not(:last-child) {
    border-bottom: 1px solid #b4b4b66c ;
}
