:root {
    --bs-body-bg: #E5E5E5;
    --widthsidebarvar: 218px;
    --minwidthsidebarvar: 80px;
    --borderRadius: 10px;
    --bs-body-font-family: 'Nunito';
    --font-weight: 600;
}

/*.mainSidebar .nav ul li {*/
/*    cursor: pointer;*/
/*    list-style-type: none;*/
/*    font-size: 16px;*/
/*    line-height: 22px;*/
/*    color: #030229;*/
/*    opacity: 0.6;*/
/*    font-weight: 600;*/
/*}*/
/*.mainSidebar .nav ul li:not(.active) ul {*/
/*    list-style: none;*/
/*    display: none;*/
/*}*/
/*.mainSidebar .nav ul li ul {*/
/*    list-style-type: none;*/
/*    font-size: 14px;*/
/*}*/
/*.mainSidebar {*/

/*}*/
.item:hover,.item.active{
    background: linear-gradient(to right, rgba(172, 169, 255, 1),rgba(172, 169, 255, 0))
}
.paddingsidebar{
    padding: 24px 24px 24px calc(var(--widthsidebarvar) + 24px);
}
.userAccount{
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 13.64px;
    color: #000000;
    Opacity :50%;
}

.TitelTop{
    width: 100%;
    background-color: black;
}

/Navbar/

.title{
    opacity: 70%;
    font-family: 'Nunito', sans-serif;
}

.bg-white {
    border-radius: 10px;
}
.example-custom-input  {
    margin: 0!important;
}
.mdb-datatable div .d-flex{
    display: none!important;
}
.Top1:not(:last-child) {
    border-bottom: 1px solid #b4b4b66c ;
}






























.mainSidebar {
    background-color: #FFFFFF;
    width: var(--widthsidebarvar);
}
.sidebar-active .mainSidebar {
    width: var(--minwidthsidebarvar);
    height: auto !important;
    border-radius: 20px;
    left: 24px;
    top: 24px !important;
    bottom: 24px;

}
.sidebar-active .item1 {
    display: none;
}
.sidebar-active .item1 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-active .paddingsidebar  {
    padding-left: 128px !important;
}
.sidebar-active .user-small{
    display: block;
}
.user-small,.sidebar-active .user-large ,.sidebar-active .ullist ,
.mainSidebar ul li:not(.active) .ullist {
    display: none;
}
.sidebar-active .icon1 {
    position:absolute;
    top: 20px;
    left: 30px;
}
.icon1 {
    position:absolute;
    top: 50px;
    right: 10px;
}

@media (max-width: 768px) {
    .mainSidebar {
        width: 80px;
    }
    .react-datepicker-wrapper button,
    .react-datepicker-wrapper .datepicker-container{
        width: 100% !important;
    }
}

























